<div class="card">

    <div class="cardContainer">
      <div class="topRow">
        <div class="storyTitle">
<<<<<<< HEAD
          <h2 id="storyTitle" >{{storyTitle}}</h2>
          <h3>Author Name: {{author}}</h3>
=======
          <h2>{{title}}</h2>
          <h3>Author Name: {{user.username}}</h3>
>>>>>>> 3bfa2c8cf479d4339bc7e542b291ad3d4dc69c0c
        </div>

        <div class="authorInfo">
         
        </div>

        <div class="contributors">

<<<<<<< HEAD
          <h4><b>Number of Contributors: {{contributors}}</b></h4>
=======
          <h4><b>Number of Contributors: {{contributions.length}}</b></h4>
>>>>>>> 3bfa2c8cf479d4339bc7e542b291ad3d4dc69c0c

        </div>

      </div>

      <div class="bottomRow">
<<<<<<< HEAD
        <p>{{storyText}}</p>
=======
        <p>{{beginning}}</p>
>>>>>>> 3bfa2c8cf479d4339bc7e542b291ad3d4dc69c0c

        <h3 class="commentButton">BUTTON</h3>
      </div>

    </div>


  </div>